<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!--BASIC JDBC CONFIG -->
	<bean id="absDao" class="com.springdev.dbutils.AbstractManagerDAO">
		<property name="dbUtils" ref="dbUtils" />
	</bean>
	<bean id="dbutils" class="com.springdev.dbutils.DBConnectionUtility">
		<property name="dbInfo" ref="dbInfo" />
	</bean>
	<bean id="dbInfo" class="com.springdev.dbutils.DataBaseInfo"
		scope="singleton">
		<property name="userName" value="root" />
		<property name="password" value="root" />
		<property name="dbClassName" value="com.mysql.jdbc.Driver" />
		<property name="driverManager" value="jdbc:mysql://localhost:3308/DEV_DB" />
	</bean>
</beans>